@font-face {
    font-family: 'RobotoCondensedItalic';
    src: url('fonts/robotocondensed-italic-webfont.woff2') format('woff2'),
         url('fonts/robotocondensed-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: black;
    color: white;
    font-family: 'RobotoCondensedItalic';
}
h1 {
    margin-block-start: 0px;
    margin-block-end: 0px;
    font-weight: bold;
}
h2 {
    margin-block-start: 0px;
    margin-block-end: 0px;
    font-weight: bold;
}
h3 {
    margin-block-start: 0px;
    margin-block-end: 0px;
    font-weight: bold;
}
canvas {
    margin: auto;
}
a {
    color: inherit;
}

.links-wrapper {
    width: 100%;
    padding-top: 15px;
}
.links {
    display: inline-block;
    text-align: center;
    width: 100%;
    padding: 0px;
}
.links.link {
    width: 6%;
}
.links.space {
    width: 20%;
}

.container-wrapper {
    width: 100%;
}
.container {
    display: inline-block;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
}
.continer.content {
    width: 30%;
}
.container.space {
    width: 5%;
}

.card {
    width: 240px;
    height: 100px;
    padding: 15px;
    border-radius: 20px;
    background-color: white;
    color: black;
    font-size: small;
    opacity: 0;
    transform: translate(0px, 50px);
}
.card .header {
    height: 30px;
}
.card .header .title {
    float: left;
}
.card .header .image {
    float: right;
}
.card .body {
    height: 70px;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (prefers-reduced-motion: no-preference) {
    .card {
        transition: opacity 1.5s ease, transform 1s ease;
        -webkit-transition: opacity 1.5s ease, transform 1s ease;
    }

    .card.no-delay {
        transition-delay: 0ms;
    }

    .card.one-delay {
        transition-delay: 100ms;
    }

    .card.two-delay {
        transition-delay: 200ms;
    }
}

.card-enter {
    opacity: 1;
    transform: none;
}

.page-wrapper {
    width: 100%;
    padding: 30px;
}
.page {
    display: inline-block;
    text-align: center;
    width: 100%;
    padding: 0px;
}
.page.margin {
    width: 30%;
    vertical-align: top;
    text-align: justify;
    padding: 10px;
    padding-left: 30px;
}
.page.margin .image {
    width: 100%;
    object-fit: contain;
    padding-top: 10px;
}
.page.content {
    width: 65%;
}